@import 'tailwindcss';
* {
  user-select: none;
}

body,
html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  background: #070c2a;
  overflow-x: hidden;
  user-select: none;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px #000;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #a766e9;
  border-radius: 10px;
}
